.selected {
  filter: brightness(0.5)
}

#campfireMessages {
    overflow-y: auto;
    height: 25rem;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('./cavewall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #222;
    margin: 0;
    background-size: 200vh 100vw;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

#navbarTitle {
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: 'Caveat', cursive;
}

#currentTime {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

#dock {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    bottom: 1%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.dockImage {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    padding-top: 0.3rem;
}

#campfire {
    top: 20%;
    left: 20%;
    display: none;
    height: 25rem;
    width: 56rem;
    background-color: rgba(20, 20, 20, 0.97);
    position: fixed;
    border-radius: 0.5rem;
    color: orange;
}

#campfireheader {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    height: 1rem;
    width: 55rem;
    border-radius: 0.5rem;
    color: black;
}

#campfireMessages {
    padding-left: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

#welcome {
    height: 25rem;
    width: 46rem;
    background-color: rgba(200, 200, 200, 0.97);
    position: fixed;
    border-radius: 0.5rem;
    top: 20%;
    left: 20%;
}

#welcomeheader {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    height: 1rem;
    width: 45rem;
    border-radius: 0.5rem;
}

#cave {
    display: none;
    height: 25rem;
    width: 46rem;
    background-color: rgba(200, 200, 200, 0.97);
    position: fixed;
    border-radius: 0.5rem;
    top: 20%;
    left: 20%;
}

#caveheader {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    height: 1rem;
    width: 45rem;
    border-radius: 0.5rem;
}

.closeButton {
    font-family: 'Roboto', sans-serif;
    display: flex;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.closeIcon {
    width: 1rem;
    height: 1rem;
}

.windowText {
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

#shareButtonArea {
    display: flex;
    justify-content: right;
}

#shareButton {
    background-color: orange;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
}